<div ng-include="main.menuTemplate.url"></div>
<div class="container" >
  <h3>Ingreso de datos</h3>
  <form class="col s12">
    <!-- Ingreso de Mashup -->
    <div class="row">
    <div class="input-field col s12">
        <i class="material-icons prefix">apps</i>
        <input ng-model="mashup.nombre" type="text" class="validate">
        <label >Nombre de la aplicacion</label>
      </div>
      <div class="input-field col s12">
        <i class="material-icons prefix">web</i>
        <input ng-model="mashup.url" type="text" class="validate">
        <label >URL Mashup</label>
      </div>
      <div class="input-field col s12">
        <i class="material-icons prefix">description</i>
        <input ng-model="mashup.descripcion" type="tel" class="validate">
        <label >Descripcion</label>
      </div>
    </div>

    <div class="divider"></div><br>
    <h5>Agrega tus Componentes</h5><br>
    <!-- Ingreso de APIS -->
    <div class="row">
      <div ng-repeat="(indexApi,api) in mashup.apis track by indexApi">

        <div class="divider"></div><br>
        <div class="input-field col s6" >
          <i class="material-icons prefix">apps</i>
          <input class="validate" type="text" placeholder="Nombre" ng-model="api.nombre"/>
        </div>

        <div class="input-field col s6" >
          <i class="material-icons prefix">extension</i>
          <input class="validate" type="text" placeholder="Descripcion" ng-model="api.descripcion"/>
        </div>

        <div class="input-field col s10" >
          <i class="material-icons prefix">wb_incandescent</i>
          <input class="validate" type="text" placeholder="URL Request API" ng-model="api.url"/>
        </div>

        <div class="input-field col s12" >
          <select class="browser-default" ng-model="api.categoria" ng-options="cate.categoria as cate.categoria for (indexC,cate) in categorias track by indexC">
            <option value="" disabled selected>Selecciona una categoria</option>
          </select>
          <br>
        </div>


        <div ng-repeat="(indexFactores,factor) in api.factores track by indexFactores">
        <!-- <div ng-init="agregarPosicion(indexApi,indexFactores)"></div> -->
        <div ng-init="agregarPosicion(indexApi,indexFactores)"></div>

          <div ng-if="indexFactores != 0">
            <div class="row">
              <div class="input-field col s6 offset-s5" >
                <div class="center">
                  <div class="switch">
                    <label>
                      Y
                      <input type="checkbox" ng-checked="isSwitchedOn" ng-model="factor.union">
                      <span class="lever"></span>
                      O
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="col s12" >
            <div class="card">
              <div class="card-content">
                <div class="center">
                </div>
                <span class="card-title center"><br>Factor de Calidad</span>

                <div class="row">
                  
                  <div class="input-field col s12" >
                    <select class="browser-default" ng-model="factor.nombre" ng-options="seleccionFac.nombre as seleccionFac.nombre for (indexF,seleccionFac) in factores track by indexF">
                      <option value="" disabled selected>Selecciona Factor</option>
                    </select>
                  </div>

                  <div class="input-field col s12" >
                  <p class="">Se me notificara cuando el factor no cumpla con estar:</p>
                  </div>

                  <div class="input-field col s6" >
                    <div class="switch">
                      <label>
                        A lo menos
                        <input type="checkbox" ng-checked="isSwitchedOn" ng-model="factor.tendencia">
                        <span class="lever"></span>
                        A lo mas
                      </label>
                    </div>
                  </div>

                  <div class="input-field col s6" >
                    <select class="browser-default" ng-model="factor.nivel" ng-options="lvl.nombre as lvl.nombre for (indexL,lvl) in nivel_de_factor track by indexL">
                      <option value="" disabled selected>Nivel de Factor</option>
                    </select>
                  </div>

                  <div class="input-field col s6">
                     <a class="btn left red" id="botonIncrementar" ng-click="removeFactor(indexApi,indexFactores)"">Quitar Factor</a>
                  </div>

                </div>
                <br>    
              </div>
            </div>
          </div>

        </div> <!-- Fin Factor -->
        <div class="row">
          <div class="input-field col s6">
             <a class="btn left blue" id="botonIncrementar" ng-click="addFactor(indexApi)">Agregar Factor</a>
          </div>
          <div class="input-field col s6" >
            <a class="btn right red" id="botonIncrementar" ng-click="remove(indexApi)""><i class="material-icons left">delete</i>Borrar Componente</a>
          </div>
        </div>


        

      </div> <!-- Fin Componente -->

    <div class="input-field col s12">
       <a class="btn-floating right" id="botonIncrementar" ng-click="add()"><i class="material-icons">add</i></a>
    </div>

   </form>
   </div>

     <div class="row">
     <div class="divider"></div><br>
     <button class="btn waves-effect waves-light" type="submit" name="action" ng-click="enviar()">Enviar
      <i class="material-icons right">send</i>
     </button>
     </div>
  </div>
</div>
<!-- lineas 45 -->