<div class="row">
	<div class="col s0 m2">
		<div ng-include="mashups.menuTemplate.url" ng-init="inicio()"></div>
	</div>
	<br><br><br>
	<div class="center" ng-if="!existenDatos()" class="col s12 m11 offset-m1">
		<h5>No existen datos de satisfaccion de mashups</h5>
		<p>El ultimo test realizado fue el dia:</p>
		<p>{{fecha}} a las 00:00</p>
		<h6 class="red-text">Los nuevos mashups cargados posterior a esta fecha seran visibles al siguiente dia</h6>
	</div>
	<div ng-if="existenDatos()" class="col s12 m11 offset-m1">
		<div class="container" >
			<table class="highlight">
				<thead>
					<tr>
						<th>Nombre</th>
						<th>Satisfaccion</th>
						<th>Status</th>
						<th></th>
					</tr>
				</thead>

				<tbody>
					<tr ng-repeat ="mashup in misMashups">
						<td>{{mashup.nombre}}</td>
						<td>{{mashup.avg}}%</td>
						<td><a class="btn-floating waves-effect waves-light btn {{mashup.avg > 90 ? 'blue' : 'red'}}"><i class="material-icons">{{mashup.avg > 90 ? 'check_circle' : 'remove_circle'}}</i></a></td>
						<td><a ng-click="detalle(mashup.mashup_id)" class="btn-floating waves-effect waves-light btn"><i class="material-icons">assignment</i></a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>