<div class="container" style="padding-top: 50px;" ng-init="cargar()">
	<div class="row">
        <div class="col s12">
          <div class="card">
            <div class="card-content">
            <div class="center">
            	<a href=""><img width="100" src="images/Conciencia1.png"> Aware Systems</a>
	            </div>
              <span class="card-title center"><br>Iniciar Sesion</span>
              <form ng-submit="registrarCuenta()">
              <div class="input-field">
	              <i class="material-icons prefix">people</i>
		          <input ng-model="usuario.nombre" id="nombre" type="text" class="validate">
          		  <label for="icon_prefix">Nombre</label>
	          </div>
              <div class="input-field">
	              <i class="material-icons prefix">account_circle</i>
		          <input ng-model="usuario.email" id="email" type="email" class="validate">
          		  <label for="email" data-error="Debe escribir un mail valido" data-success="correcto">Mail</label>
	          </div>
	          <div class="input-field">
	              <i class="material-icons prefix">lock</i>
		          <input ng-model="usuario.password" id="password" type="password">
          		  <label for="password">Password</label>
	          </div>
	          <div class="input-field">
	              <i class="material-icons prefix">lock</i>
		          <input ng-model="usuario.passwordConfirm" id="passwordConfirm" type="password" ng-class="activar()">
          		  <label for="passwordConfirm" data-error="Password no coincide" data-success="Correcto">Confirmar Password</label>
	          </div>
	          <button class="btn waves-effect waves-light right" type="submit" name="action" >Crear Cuenta
		    	<i class="material-icons right">send</i>
		  	  </button> 
		  	  </form>
		  	  <br>    
            </div>
          </div>
        </div>
	</div>
</div>
